@import "./vars";

body {
	height: 1000px;
	width: 100vw;
	transition: all 0.5s;
	position: relative;
	&#dark {
		background-color: $background;
	}

	&#light {
		background-color: $quaternary;
	}
	&::-webkit-scrollbar {
		display: none;
	}
}
canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
}
nav {
	z-index: 100;
}

//General MediaQuery styles
//MD
@media only screen and (min-width: 768px) {
	#hero-body,
	#skills-body {
		padding: 0 70px;
	}
}
//LG
@media only screen and (min-width: 992px) {
	#hero-body,
	#skills-body {
		padding: 0 80px;
	}
}
