@import "./vars";
@import "./functions";

//Dark Mode
/* #region*/

#hero-body {
    position: absolute;
	@include mainBody();
	h1 {
		color: $secondary;
		font-size: 35px;
		font-family: "Press Start 2p", sans-serif;
		font-weight: bold;
		line-height: 2.5;
		transition: color 0.5s;
	}
	p {
		color: $quaternary;
		transition: color 0.5s;
		font-family: "Terminal";
		font-weight: bold;
		line-height: 1.7;
		#pixel {
			font-size: 16px;
		}
		a {
			text-decoration: none;
			transition: all 0.2s;
			&:hover {
				text-shadow: 0 0 10px;
			}
		}
	}
}
#popover {
	z-index: 98;
	background-color: $quaternary;
	.popover-arrow::after {
		border-bottom-color: $quaternary;
	}
}
/* #endregion */

//Light Mode
/* #region */
body#light {
	#hero-body {
		p {
			color: $primary;
		}
	}
	#popover {
		background-color: $primary;
		#popover-body {
			color: $quaternary;
		}
		.popover-arrow::after {
			border-bottom-color: $primary;
		}
	}
}
/* #endregion */

//Sonic
@keyframes sonic {
	0% {
		background: url("../assets/sonic/run1.png");
	}
	50% {
		background: url("../assets/sonic/run2.png");
	}
	100% {
		background: url("../assets/sonic/run3.png");
	}
}

#char {
	width: 39px;
	height: 40px;
	background: url("../assets/sonic/idle.png");
	margin: 0 10px;
	position: relative;
	animation: sonic 0.1s infinite step-end;
	&:hover {
		animation: none;
		&::after {
			visibility: visible;
			opacity: 1;
			top: -70%;
		}
	}
	&::after {
		content: "Click Me";
		height: 40px;
		width: 50px;
		background: url("../assets/sonic/bubble.png");
		font-family: "press start 2p", sans-serif;
		font-size: 5px;
		text-align: center;
		line-height: 20px;
		position: absolute;
		top: -50%;
		left: 55%;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
	}
}
